.atm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 97vw;
  .screen-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
